* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0c0c0c;
    height: 80px;
    width: 100%;
    position: fixed;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: "BBH Hegarty", sans-serif;
    padding-top: 20px;
}

.container-navbar a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

#nomeMaior {
    padding-left: 60px;
}

.navbar {
    display: flex;
    padding-right: 60px;
    padding-top: 7px;
    font-size: 18px;
    gap: 30px;
}

.topTela {
    background-image: url("../assets/imgs/BackIndex.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.conteudo {
    background-color: #f7fbc9;
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.mapa img {
    padding: 15% 10%;
    padding-top: 12%;
    width: 30%;
    height: 30%;
}

.palavraInicio {
    text-align: center;
    font-size: 150px;
    color: #614511;
    padding-bottom: 25%;
}