* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.header {
    background-color: #0c0c0c;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    padding-top: 20px;
}

.container-navbar a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

.container-navbar img {
    background: none;
    width: 50%;
    height: auto;
}

.container-navbar button {
    background: none;
    border: none;
    cursor: pointer;
    width: 5%;
}

#nomeMaior {
    padding-left: 55px;
}

.navbar {
    display: flex;
    padding-right: 60px;
    padding-top: 7px;
    font-size: 18px;
    gap: 30px;
}

.container {
    background-image: url("../assets/imgs/cadastro/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxCadastro {
    background-color: #0c0c0cc0;
    border-radius: 20px;
    width: 28%;
    height: 70vh;
    margin-top: 5%;
    flex-direction: column;
}

.boxCadastro p {
    font-size: 22px;
    font-family: "Pixelify Sans", sans-serif;
    padding-top: 2%;
    margin-left: 3.5%;
    margin-bottom: 3%;
    color: white;
}

.boxCadastro input {
    margin-left: 6%;
    width: 80%;
    height: 6%;
    border: none;
    border-radius: 20px;
    padding: 0% 4%;
    font-size: 16px;
}

.boxCadastro button {
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 6%;
    margin-bottom: 2%;
    margin-top: 3%;
    width: 87%;
    height: 8%;
    border-radius: 20px;
    border: none;
    background-color: #483D8B;
}

.boxCadastro span {
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    margin-left: 7%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: white;
}

.boxCadastro a {
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    margin-left: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: white;
    text-decoration: none;
}

.cadastroInicio {
    margin-top: 7%;
}