* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.header {
    background-color: #0c0c0c;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    padding-top: 20px;
}

.container-navbar a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

.container-navbar img {
    background: none;
    width: 50%;
    height: auto;
}

.container-navbar button {
    background: none;
    border: none;
    cursor: pointer;
    width: 5%;
}

#nomeMaior {
    padding-left: 55px;
}

.navbar {
    display: flex;
    padding-right: 60px;
    padding-top: 7px;
    font-size: 18px;
    gap: 30px;
}

.traco {
    background-color: white;
    width: 100%;
    height: 85px;
}

.tracoCarac {
    background-color: white;
    margin: 2%;
    margin-left: -2%;
    width: 78%;
    height: 2px;
}

.container {
    background-color: #0c0c0c;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
    width: 100%;
    min-height: 92.1vh;
}

.base {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.imagemPersonagem {
    width: 13%;
    margin-left: 10%;
    background: none;
    border: none;
}

.imagemPersonagem img{
    width: 100%;
}

.caracBase{
    margin-top: 1%;
    font-size: 20px;
}

.caracBase p{
    margin-bottom: 1%;
}

.caracBase input{
    background: none;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 7%;
    padding-left: 7px;
    width: 70%;
}

.caracBase {
    margin-left: 2%;
}

input:focus {
    outline: none;
}

.infoBarras {
    display: flex;
    flex-direction: column;
}

.barrasComponentes {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoInicialVd button,
.botaoFinalVd button,
.botaoInicialSan button,
.botaoFinalSan button,
.botaoInicialNen button,
.botaoFinalNen button {
    background: none;
    border: none;
    cursor: pointer;
}

.botaoInicialVd img,
.botaoFinalVd img,
.botaoInicialSan img,
.botaoFinalSan img,
.botaoInicialNen img,
.botaoFinalNen img {
    width: 32px;
}

.botaoFinalVd,
.botaoInicialVd,
.botaoFinalSan,
.botaoInicialSan,
.botaoFinalNen,
.botaoInicialNen {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.vida,
.sanidade,
.nen {
    align-items: center;
    display: flex;
    position: relative;
    height: 40px;
    padding-left: 7%;
    width: 50%;
}

.infoBarrasCompletarVd {
    background: darkred;
    border: #f0f0f0 0.1px solid;
    position: absolute;
    left: 40.4%;
    top: 15%;
    height: 3.5%;
    width: 20%;
}

.infoBarrasCompletarSan {
    background: darkblue;
    border: #f0f0f0 0.1px solid;
    position: absolute;
    left: 40.4%;
    top: 24%;
    height: 3.5%;
    width: 20%;
}

.infoBarrasCompletarNen {
    background: #614511;
    border: #f0f0f0 0.1px solid;
    position: absolute;
    left: 40.4%;
    top: 33%;
    height: 3.5%;
    width: 20%;
}

.inputVd,
.inputSan,
.inputNen {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 21%;
    margin-bottom: 4%;
}

.inputVd input,
.inputSan input,
.inputNen input {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible Mono';
    width: 40px;
}

.inputVd span,
.inputSan span,
.inputNen span {
    font-size: 23.5px;
    font-family: "Pixelify Sans", sans-serif;
}

.vdTexto {
    position: absolute;
    font-size: 20px;
    top: 12%;
    right: 48.6%;
}

.sanTexto {
    position: absolute;
    font-size: 20px;
    top: 21%;
    right: 47.2%;
}

.nenTexto {
    position: absolute;
    font-size: 20px;
    top: 30%;
    right: 48.9%;
}

.atributos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 3%;
    margin-left: 5%;
}

.atributos img {
    width: 30%;
    height: 80%;
}

.atributos input{
    appearance: none;
    background: none;
    border: none;
    color: white;
    font-size: 2.3vw;
    text-align: center;
    width: 5%;
    height: 8%;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}
#for,
#agi,
#int,
#pre,
#vig {
    position: absolute;
}

#agi {
    left: 16.6%;
    top: 51.5%;
}

#int {
    left: 24.6%;
    top: 62%;
}

#for {
    left: 8.6%;
    top: 62%;
}

#pre {
    left: 10.9%;
    top: 81%;
}

#vig {
    left: 22.2%;
    top: 81%;
}

#fortificador,
#transmutador,
#emissor,
#conjurador,
#manipulador {
    color: black;
    position: absolute;
    font-size: 25px;
    font-family: 'Atkinson Hyperlegible Mono';
}

#fortificador {
    top: 66.2%;
    right: 53%;
}

#transmutador {
    top: 46.5%;
    right: 47%;
}

#emissor {
    top: 79.7%;
    right: 51.5%;
}

#conjurador {
    top: 63.3%;
    right: 39.3%;
}

#manipulador {
    top: 79.7%;
    right: 43%;
}

.boxCarac {
    margin-top: -15%;
    margin-left: 0%;
}

.campanha span {
    font-size: 25px;
}

.botoesCarac {
    display: flex;
    gap: 20px;
    margin-top: 6%;
}

.botoesCarac button{
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
}

.lista {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 2.5%;
    font-size: 18px;
}

.lista h6 {
    margin-left: 4%;
    margin-right: 3%;
    font-size: 18px;
}

.boxPericias {
    display: flex;
    flex-direction: column;
}

.pericias {
    display: flex;
    flex-direction: row;
    margin: 1.5%;
}

.pericias input{
    background: none;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    font-size: 18px;
    font-family: 'Atkinson Hyperlegible Mono';
    text-align: center;
    width: 20%;
    height: 80%;
}

.pericias span {
    width: 20%;
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible Mono';
}

#pericia {
    margin-right: 10%;
    font-family: "Pixelify Sans", sans-serif;
}

#bonus {
    margin-right: -2%;
}

#treino {
    margin-right: -1%;
}

.criacaoHab,
.criacaoInv {
    position: fixed;
    inset: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.criandoHab,
.criandoInv {
    width: 60%;
    height: 80%;
    background-color: #171717;
    border-radius: 20px;
    padding: 30px;
    color: white;
    font-family: 'Atkinson Hyperlegible Mono';
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5px;
}

.criandoHab,
.criandoInv h1 {
    margin-bottom: 3%;
}

.caracteristicasHab,
.caracteristicasInv {
    margin-left: 3%;
    justify-content: center;
}

.caracteristicasHab,
.caracteristicasInv p {
    font-size: 20px;
    margin-bottom: 1%;
}

.caracteristicasHab,
.caracteristicasInv img {
    height: 50%;
    width: 80%;
    margin: 2%;
    margin-left: -16%;
}

.caracteristicasHab,
.caracteristicasInv input {
    background-color: #0c0c0c;
    border: none;
    color: white;
    font-size: 18px;
    text-align: left;
    height: 5vh;
    margin-bottom: 1%;
    margin-left: 1%;
    padding-left: 10px;
    width: 30%;
}

.caracteristicasHab,
.caracteristicasInv textarea {
    background-color: #0c0c0c;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 1%;
    margin-left: 1%;
    padding-top: 10px;
    padding-left: 10px;
    width: 94%;
    min-height: 25vh;
    resize: none;
}

.caracteristicasHab,
.caracteristicasInv button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 1%;
}

.botoesHab,
.botoesInv {
    margin-left: 72%;
}

.novaHabBotao,
.novaInvBotao {
    background-color: #41210A;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 18px;
    height: 60px;
    width: 25%;
    margin: 8%;
    margin-left: 75%;
    
}

#confirmarHabId,
#confirmarInvId {
    background-color: #41210A;
    border-radius: 20px;
    height: 5vh;
    width: 40%;
    margin-left: 15%;
}

.boxDescricao p {
    margin-top: 10%;
    margin-bottom: 1%;
    font-size: 18px;
}

.boxDescricao textarea {
  font-size: 18px;
  font-family: arial;
  color: white;
  background-color: #1e1e1e;
  border-style: none;
  border-color: white;
  height: 150px;
  width: 108%;
  margin-top: 1.5%;
  line-height: normal;
  padding: 5px 10px;
  resize: none;
}

#objetivo {
    margin-bottom: 12%;
}

.fichaHabilidade,
.fichaInventario {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100px;
    width: 70%;
    margin-left: 10%;
}

.fichaHabilidade,
.fichaInventario img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    background-color: #333;
}

.infoHabilidade,
.infoInventario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoHabilidade,
.infoInventario span {
    font-size: 18px;
}

.infoHabilidade,
.infoInventario button {
    margin-top: 10px;
    width: 160px;
    background-color: #41210A;
    color: white;
    border: none;
    padding: 8px 0;
    border-radius: 8px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 15px;
}