* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.header {
    background-color: #0c0c0c;
    height: 80px;
    width: 100%;
    position: fixed;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    padding-top: 20px;
}

.container-navbar a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

#nomeMaior {
    padding-left: 60px;
}

.navbar {
    display: flex;
    padding-right: 60px;
    padding-top: 7px;
    font-size: 18px;
    gap: 30px;
}